@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GeistMonoBlack';
  src: url('./fonts/GeistMono-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMonoBold';
  src: url('./fonts/GeistMono-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMonoRegular';
  src: url('./fonts/GeistMonoVF.woff') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GeistMonoRegular', sans-serif;
}

.extra-bold {
  font-family: 'GeistMonoBlack', sans-serif;
  font-weight: 1000;
}

.extramini-bold {
  font-family: 'GeistMonoBold', sans-serif;
}

.commandstable tr, td {
  border: 1px solid black;
}

::selection {
  background-color: #f59e0b;
  color: #000;
}

.bg-amber-500 ::selection {
  background-color: #000000;
  color: #ffffff;
}